$def with (post)

<div class="row container">
    
    <section>
        
        <section class="main container">
        
        <section class="jumbotron">
            <div class="container">
                <h2>Editar</h2>
            </div>   
        </section>
        
        <div class="container">
            <form method="post" action="">
                
                <a class="btn btn-primary btn-block" href="/viewdata">Cancelar</a>
                <br>
                
                <div class="form-group">
                    <label for="peliculaP">Pelicula:</label>
                    <input class="form-control" type="text" value="$post.pelicula" id="peliculaP" name="peliculaP" placeholder="Pelicula">
                </div>

                <div class="form-group">
                    <label for="paisP">Pais:</label>
                    <input class="form-control" type="text" value="$post.pais" id="paisP" name="paisP" placeholder="Pais">
                </div>

                <div class="form-group">
                    <label for="anioP">Año:</label>
                    <input class="form-control" type="text" value="$post.anio" id="anioP" name="anioP" placeholder="Puntos Previos:">
                </div>

                <div class="form-group">
                    <label for="generoP">Genero:</label>
                    <input class="form-control" type="text" value="$post.genero" id="generoP" name="generoP" placeholder="Posiciones:">
                </div>

                <div class="form-group">
                    <label for="duracionP">Duracion:</label>
                    <input class="form-control" type="text" value="$post.duracion" id="duracionP" name="duracionP" placeholder="Promedio 2016:">
                </div>

                <div class="form-group">
                    <label for="descripcionP">Descripcion:</label>
                    <input class="form-control" type="text" value="$post.descripcion" id="descripcionP" name="descripcionP" placeholder="Resultado (100%):">
                </div>
                <input class="btn btn-primary btn-block" type="submit" value="Actualizar" />
            </form>
        </div>
    </section>
</div>
