$def with (post)

<br>

<section>
    <div>
        <h2 align=center >Editar</h2>
    </div>

<br>

        <form method="post" action="">
            <div>
            <a class="myButton" href="/viewdata">Cancelar</a>
            </div>

                <br>
                
                <div>
                    <label for="peliculaP">Pelicula:</label>
                    <input type="text" value="$post.pelicula" id="peliculaP" name="peliculaP" placeholder="Pelicula">
                </div>

                <div>
                    <label for="paisP">Pais:</label>
                    <input type="text" value="$post.pais" id="paisP" name="paisP" placeholder="Pais">
                </div>

                <div>
                    <label for="anioP">Año:</label>
                    <input type="text" value="$post.anio" id="anioP" name="anioP" placeholder="Año">
                </div>

                <div>
                    <label for="generoP">Genero:</label>
                    <input type="text" value="$post.genero" id="generoP" name="generoP" placeholder="Genero">
                </div>

                <div>
                    <label for="duracionP">Duracion:</label>
                    <input type="text" value="$post.duracion" id="duracionP" name="duracionP" placeholder="Duracion">
                </div>

                <div>
                    <label for="descripcionP">Descripcion:</label>
                    <input type="text" value="$post.descripcion" id="descripcionP" name="descripcionP" placeholder="Descripcion">
                </div>

                <br>

                <div>
                <input type="submit" value="Actualizar" />
                </div>
            </form>
        </div>
    </section>
</div>
