$def with (form, results) 

<br>
<section>
    <div>
        <h2 align="center"> Victimas de homicidio secuestro y extorsion </h2>
    </div>
</section>

<br>

<section>
    <div align="center">
    <form name="main" method="post" > 
    $if not form.valid: <p class="error">Información erronea</p>
    $:form.render()
    </div>
    <br>
    <div>
    <input type="submit" /> </form>
    </div>
</section>

<br>

<section>
    <div>  
    $if results:
        <table id="tab1" align="center">
            <th> Entidad </th>
            <th> Delito </th>
            <th> Año </th>

            $for row in results:
                <tr>
                    <td>$row[0]</td>
                    <td>$row[1]</td>
                    <td>$row[2]</td>
                </tr>
        </table>
    </div>
</section>

<br>
<br>
<br>