
<br>

<section>
    <div>
        <h2 align=center >Iniciar Sesión</h2>
    </div>   
</section>

<br>

    <section>
            <form method="post" action="">
                <div>
                    <label align="center" for="user">Usuario:</label>
                    <input type="text" id="user" name="user" placeholder="Usuario">

                <br>
                <br>
                
                    <label align="center" for="pass">Contraseña:</label>
                    <input type="password" id="pw" name="pw" placeholder="Contraseña">
                </div>

                <br>

                <div>
                <input class="button" type="submit" value="Entrar" />
                </div>
            </form>
    </section>

