<div class="row container">
    
    <section>
        
        <section class="jumbotron">
            <div class="container">
                <h2>Iniciar Sesion</h2>
            </div>   
        </section>
        
        <div class="jumbotron login">
            <form method="post" action="">
                <div class="form-group">
                    <label align="center" for="user">Usuario:</label>
                    <input class="form-control" type="text" id="user" name="user" placeholder="Usuario">
                </div>

                <div class="form-group">
                    <label align="center" for="pass">Contraseña:</label>
                    <input class="form-control" type="password" id="pw" name="pw" placeholder="Contraseña">
                </div>

                <input class="btn btn-primary btn-block btn-success" type="submit" value="Entrar" />
            </form>
        </div>
    </section>
</div> 

