<br>
<section>
    <div>
        <h2 align=center >Nuevo</h2>
    </div>   
</section>
    
    <br>
            <form method="post" action="">
            <div>
                <a class="myButton" href="/viewdata">Cancelar</a>
            </div>
                <br>
                
                <div>
                    <label for="peliculaP">Pelicula:</label>
                    <input type="text" id="peliculaP" name="peliculaP" placeholder="Pelicula">
                </div>

                <div>
                    <label for="paisP">Pais:</label>
                    <input type="text" id="paisP" name="paisP" placeholder="Pais:">
                </div>

                <div>
                    <label for="anioP">Año:</label>
                    <input type="text" id="anioP" name="anioP" placeholder="Año">
                </div>

                <div>
                    <label for="generoP">Gernero:</label>
                    <input type="text" id="generoP" name="generoP" placeholder="Gernero">
                </div>

                <div>
                    <label for="duracionP">Duracion:</label>
                    <input type="text" id="duracionP" name="duracionP" placeholder="Duracion">
                </div>

                <div>
                    <label for="descripcionP">Descripcion:</label>
                    <input type="text" id="descripcionP" name="descripcionP" placeholder="Descripcion">
                </div>

                <br>

                <div>
                <input type="submit" value="Agregar" />
                </div>
            </form>
    </section>

