<div class="row container">
    
    <section class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <section class="jumbotron">
            <div class="container">
                <h2>Insertar Nuevo</h2>
            </div>   
        </section>
        
        <div class="container">
            <form method="post" action="">
                
                <a class="btn btn-primary btn-block" href="/viewdata">Cancelar</a>
                <br>
                
                <div class="form-group">
                    <label for="peliculaP">Pelicula:</label>
                    <input class="form-control" type="text" id="peliculaP" name="peliculaP" placeholder="Pelicula">
                </div>

                <div class="form-group">
                    <label for="paisP">Pais:</label>
                    <input class="form-control" type="text" id="paisP" name="paisP" placeholder="Pais:">
                </div>

                <div class="form-group">
                    <label for="anioP">Año:</label>
                    <input class="form-control" type="text" id="anioP" name="anioP" placeholder="Año">
                </div>

                <div class="form-group">
                    <label for="generoP">Gernero:</label>
                    <input class="form-control" type="text" id="generoP" name="generoP" placeholder="Gernero">
                </div>

                <div class="form-group">
                    <label for="duracionP">Duracion:</label>
                    <input class="form-control" type="text" id="duracionP" name="duracionP" placeholder="Duracion">
                </div>

                <div class="form-group">
                    <label for="descripcionP">Descripcion:</label>
                    <input class="form-control" type="text" id="descripcionP" name="descripcionP" placeholder="Descripcion">
                </div>
                <input class="btn btn-primary btn-block" type="submit" value="Agregar" />
            </form>
        </div>
    </section>
</div> 

