$def with (post)

<br>

<section>
    <div>
        <h2>$post.pelicula</h2>
    </div>   
</section>

<br>
            <div>
                <a class="myButton" href="/viewdata">Regresar</a>
            </div>
            
            <br>

        <div>
            <table id=tab2 align=center >
                <thead>
                    <tr>
                        <th> </th>
                        <th>Pelicula</th>
                        <th>Pais</th>
                        <th>Año</th>
                        <th>Genero</th>
                        <th>Duracion</th>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>$post.id</td>
                        <td>$post.pelicula</td>
                        <td>$post.pais</td>
                        <td>$post.anio</td>
                        <td>$post.genero</td>
                        <td>$post.duracion</td>
                        <td>$post.descripcion</td>
                    </tr>
                </tbody>
            </table>
        </div>